<div class="row row-spacer">
    <div class="col-md-1 text-left">
        <a class="btn btn-primary" [routerLink]="['/customer-profile']">Customer Profile</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
        Demonstration of the customer user profile use case described in the README file. Demonstrates setting validations
        on a domain class, how to extend the vadacl class with the component class, and how to add and override validations.
    </div>
</div>
<div class="row row-spacer">
    <div class="col-md-1 text-left">
        <a class="btn btn-primary" [routerLink]="['/admin-profile']">Admin Profile</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
        Demonstration of the admin user profile use case described in the README file. Demonstrates the reuse of the
        domain-level validations in a different component
    </div>
</div>
<div class="row row-spacer">
    <div class="col-md-1 text-left">
        <a class="btn btn-primary" [routerLink]="['/patient']">Patient Form</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
        Demonstrates use of default validation method messages and the withinLength validation method.  Also
        demonstrates validating a sub-FormGroup within the main form FormGroup.
    </div>
</div>
<div class="row row-spacer">
    <div class="col-md-1 text-left">
        <a class="btn btn-primary" [routerLink]="['/address']">Address Form</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
        Demonstrates setting validations on an object literal within the component, and using the vadacl class as a
        service.
    </div>
</div>
<div class="row row-spacer">
    <div class="col-md-1 text-left">
        <a class="btn btn-primary" [routerLink]="['/company']">Company Form</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
        Demonstrates the use of validation messages defined in the locale messages object and associated with the
        matching class properties. Also illustrates alternate ways of displaying the provided error message or
        displaying one based on an HTML element tied to the error for that form field.
    </div>
</div>
<div class="row row-spacer">
    <div class="col-md-1 text-left">
        <a class="btn btn-primary" [routerLink]="['/company-name']">Company Name Form</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
        Demonstrates the display of validation errors for a control that is programmatically updated.
    </div>
</div>