<h3>Patient Form</h3>

<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal well well-sm" [formGroup]="patientForm">

            <div class="row">
                <div class="col-md-12">
                    <h4>Identity Data</h4>
                    <hr />
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-md-2 control-label">First Name:</label>
                <div class="col-md-6">
                    <input id="firstName" type="text" class="form-control" formControlName="firstName">
                    <div *ngIf="pageReady && showErrors(patientForm.controls.firstName)" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of getControlErrors( patientForm.controls.firstName )">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    Field is required. Cannot be a single letter.
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-md-2 control-label">Last Name:</label>
                <div class="col-md-6">
                    <input id="lastName" type="text" class="form-control" formControlName="lastName">
                    <div *ngIf="pageReady && showErrors(patientForm.controls.lastName)" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of getControlErrors( patientForm.controls.lastName )">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    Field is required. Cannot be a single letter.
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-md-2 control-label">Username:</label>
                <div class="col-md-6">
                    <input id="username" type="text" class="form-control" formControlName="username">
                    <div *ngIf="pageReady && showErrors(patientForm.controls.username)" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of getControlErrors( patientForm.controls.username )">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    Field is required. Must be between 8 and 12 characters long.
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-2">
                    <label>
                        <input id="agreement" type="checkbox" formControlName="agreement">
                        &nbsp; I agree to share my information with researchers.
                    </label>
                    <div *ngIf="pageReady && showErrors(patientForm.controls.agreement)" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of getControlErrors( patientForm.controls.agreement )">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    Field is required.
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Behavior Profile</h4>
                    <p>Denote the percentage of time you spend on each activity. The percentages must total 100%.</p>
                    <hr />
                </div>
            </div>

            <!-- In order to access the FormControl objects nested within a FormGroup inside the top-level form/FormGroup,
            those FormControl objects must be nested inside of a DOM element tied to the inner FormGroup via the
            formGroupName attribute.  -->
            <div formGroupName="percentages">
                <div class="form-group">
                    <label for="working" class="col-md-2 control-label">Time working:</label>
                    <div class="col-md-6">
                        <input id="working" type="text" class="form-control" formControlName="working">
                        <div *ngIf="pageReady && showErrors( patientForm.controls.percentages.controls.working )" class="alert alert-danger">
                            <ul>
                                <li *ngFor="let error of getControlErrors( patientForm.controls.percentages.controls.working )">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Value should be between 0 and 100.
                    </div>
                </div>
                <div class="form-group">
                    <label for="playing" class="col-md-2 control-label">Time playing:</label>
                    <div class="col-md-6">
                        <input id="playing" type="text" class="form-control" formControlName="playing">
                        <div *ngIf="pageReady && showErrors( patientForm.controls.percentages.controls.playing ) " class="alert alert-danger">
                            <ul>
                                <li *ngFor="let error of getControlErrors( patientForm.controls.percentages.controls.playing )">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Value should be between 0 and 100.
                    </div>
                </div>
                <div class="form-group">
                    <label for="sleeping" class="col-md-2 control-label">Time sleeping:</label>
                    <div class="col-md-6">
                        <input id="sleeping" type="text" class="form-control" formControlName="sleeping">
                        <div *ngIf="pageReady && showErrors( patientForm.controls.percentages.controls.sleeping )" class="alert alert-danger">
                            <ul>
                                <li *ngFor="let error of getControlErrors( patientForm.controls.percentages.controls.sleeping )">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Value should be between 0 and 100.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="pageReady && showErrors( patientForm.controls.percentages ) && percentagesSet()" class="alert alert-danger">
                        <ul>
                            <li *ngFor="let error of getControlErrors( patientForm.controls.percentages )">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <button type="button" class="btn btn-primary" [disabled]="!patientForm.valid" (click)="submitForm()">Submit</button>
                    <button type="button" class="btn btn-default" (click)="resetForm()">Reset</button>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <span class="label label-success" *ngIf="formSubmitted">Data submitted!</span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-primary" [routerLink]="['/home']">Return to Main Page</a>
    </div>
</div>